@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/variables.scss';

:host{
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem-calc(40) 0;
    color: var(--branco);

    font-weight: bold;
    font-size: rem-calc(40);
  }
}
